.PropertyCard {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 14px;
  color: rgb(113, 113, 113)
}
.PropertyCardSelected {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 14px;
  background-color: rgb(200, 200, 200)
}
.PropertyCardDetails {
  display: flex;
  flex-direction: row;
}
.propertyDescription {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.PropertyCardInfo {
  padding-left: 10px;
}
.horizontalLine {
  margin-top: 20px;
  height: 2px;
  width: 100%;
  background-color: #DDDDDD;
  border: none;
}
.PropertyCardInfo .horizontalLine {
  width: 40px;
  margin-left: 10px;
}
.PropertyCardRatingPrice {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: rgb(34, 34, 34);
  padding-left: 10px;
}
.PropertyCardRatingPrice .price{
  margin-right: 5px;
  margin-left: auto;
  font-size: 18px;
  line-height: 24px 
}


@media (max-width: 1100px) {

  .PropertyCardRatingPrice {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .PropertyCardRatingPrice .price{
    margin: 0;
  }

}

@media (max-width: 800px) {

  .PropertyCardDetails {
    display: flex;
    flex-direction: column;
  }
  .PropertyCardInfo {
    padding-left: 0;
    margin-top: 10px;
  }
  .PropertyCardRatingPrice {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 0;
  }
  .PropertyCardRatingPrice .price{
    margin: 0;
  }
  .PropertyCardInfo hr {
    margin-left: 0;
  }

}

