.GuestsNumberField {
  box-sizing: border-box;
  display: block;
  position: relative;
  border-radius: 35px;
  padding: 0 30px;
  margin: 0;
}
.GuestsNumberField:hover {
  cursor: pointer;
  background-color: #DDDDDD;
  transition: background-color 0.2s ease;
  margin: -3px -8px -3px -15px;
  padding: 3px 38px 3px 45px;
}
.label {
  box-sizing: border-box;
  position: relative;
  color: rgb(34, 34, 34);
  cursor: pointer;
  display: block;
  margin: 0;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 0.48px;
  padding: 10px;
  pointer-events: auto;
  text-align: left;
}

@media (max-width: 1000px) {
  .GuestsNumberField {
    padding: 0;
  }
}
@media (max-width: 770px) {
  .GuestsNumberField {
    padding: 0 40px;
  }
  .GuestsNumberField:hover {
    margin: -5px -20px;
    padding: 5px 40px;
  }
}

