.LocationSearchField {
  display: block;
  position: relative;
  border-radius: 35px;
  padding: 0 30px;
  margin: 0;
}
.LocationSearchField:hover {
  cursor: pointer;
  background-color: #DDDDDD;
  transition: background-color 0.2s ease;
  margin: -3px -20px -3px 0;
  padding: 3px 50px 3px 30px;
}
.label {
  box-sizing: border-box;
  position: relative;
  color: rgb(34, 34, 34);
  cursor: pointer;
  display: block;
  margin: 0;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 0.48px;
  padding: 10px;
  pointer-events: auto;
  text-align: left;
}
@media (max-width: 1000px) {
  .LocationSearchField {
    padding: 0;

  }
}
@media (max-width: 770px) {
  .LocationSearchField {
    padding: 0 30px;
  }
  .LocationSearchField:hover {
    margin: 0 0 -5px 0;
    padding: 0 30px 5px 30px;
  }
}

