.SearchArea {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 40px;
  color: #222222;
  position: relative;
  margin: 0;
  box-sizing: border-box;
}
.SearchArea .horizontalLine {
  transform: rotate(90deg);
  width: 25px;
  background-color: #DDDDDD;
  height: 2px;
  border: none;
}
