.App {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(228, 225, 225, 0.884);
  overflow: hidden;
}
.AppHeader, .AppBody {
  position: relative;
  width: 95%;
  margin: 10px;
  display: flex;
}

