.DateSearchField {
  box-sizing: border-box;
  display: block;
  position: relative;
  border-radius: 35px;
  padding: 0 10px;
  margin: 0;
}
.DateSearchField:hover {
  cursor: pointer;
  background-color: #DDDDDD;
  transition: background-color 0.2s ease;
  margin: 0 -20px;
  padding: 0 30px;
}
.label {
  box-sizing: border-box;
  position: relative;
  color: rgb(34, 34, 34);
  cursor: pointer;
  display: block;
  margin: 0;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 0.48px;
  line-height: 16px;
  padding: 10px;
  pointer-events: auto;
  text-align: left;
}

@media (max-width: 1000px) {
  .DateSearchField {
    padding: 0;
  }
}
@media (max-width: 770px) {
  .DateSearchField {
    padding: 0 50px;
  }
  .DateSearchField:hover {
    margin: -5px -20px;
    padding: 5px 30px;
  }
}