.Header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  padding: 10px;
  background-color: white;
  z-index: 1;
  box-shadow: 0 0.1px 10px #888888;
}
.propertiesListSectionContainer {
  width: 60%;
  top: 70px;
  position: relative;
}
.mapContainer {
  position: fixed;
  top: 70px;
  right: 0px;
  width: 40%;
}

@media (max-width: 580px) {

  .Header {
    display: none;
  }
  .propertiesListSectionContainer, .mapContainer {
    top: 10px;
  }
}

@media (max-width: 500px) {

  .mapContainer {
    position: relative;
    width: 100%;
  }
  .propertiesListSectionContainer{
    width: 100%;
  }
}
