.container {
  position: relative;
  min-height: 100vh;
  background-color: green;
  background-image: url('../src/arvin-wiyono-einIuvtZen4-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}
