.content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

@media (max-width: 770px) {
  .content {
    justify-content: space-between;
    padding: 0 10px;
  }
}
